# build files
*.o
cache

# generated parameters file
test_params.ini

# trace files
*.txt

# programs that generate traces
*.bin
sort
matrix
sequential_read

# debug trace files
*.zip

# vscode
.vscode/
