# build files
*.o
cache
build/

# generated parameters file
test_params.ini

# trace files
*.txt

# programs that generate traces
*.bin
sort
matrix
sequential_read

# sim trace files
sim_trace_*.bin
sim_trace_*.txt
decoder
sim_traces/*.zip

# vscode
.vscode/
